/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Brand
 * -------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
    --vp-c-brand: #1baeea;
    --vp-c-brand-light: #42beef;
    --vp-c-brand-lighter: #70cbef;
    --vp-c-brand-lightest: #abe0f5;
    --vp-c-brand-dark: #118dc0;
    --vp-c-brand-darker: #0e79a5;
    --vp-c-brand-dimm: rgba(27, 174, 234, 0.08);
    --vp-font-family-mono: "JetBrains Mono", monospace;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-light);
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-button-brand-active-border: var(--vp-c-brand-light);
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: NavBar
 * -------------------------------------------------------------------------- */

.VPNavBar {
    --nav-c-bg: rgba(255, 255, 255, 0.75);
}

.dark .VPNavBar {
    --nav-c-bg: rgba(30, 30, 32, 0.5);
}

@media (min-width: 961px) {
    .VPNavBarTitle.has-sidebar {
        background-color: var(--vp-c-bg-alt);
    }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.danger .custom-block-title {
    display: none;
}

/**
 * Component: Algolia Search
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand) !important;
    --docsearch-bg-color: rgba(255, 255, 255, 0.5);
    --docsearch-modal-shadow: 0 0 15px 0 var(--vp-c-border);
}

.dark .DocSearch {
    --docsearch-modal-shadow: none;
    --docsearch-bg-color: rgba(30, 30, 32, 0.5);
}

.dark .DocSearch-Modal {
    border: solid 1px var(--vp-c-divider);
}

@media (min-width: 769px) {
    .DocSearch--active {
        overflow: unset !important;
    }
}

.DocSearch-Container {
    background-color: transparent !important;
    transition: background-color .2s ease;
}

.DocSearch--active .DocSearch-Container {
    background-color: var(--docsearch-bg-color) !important;
}

.DocSearch-Modal {
    opacity: 0;
    transform: translateY(-15%) scale(0.95);
    transition: opacity, transform .2s ease;
}

.DocSearch--active .DocSearch-Modal {
    opacity: 1;
    transform: scale(1);
}

.DocSearch-Container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: backdrop-filter .2s ease;
    backdrop-filter: blur(5px) opacity(0);
}

.DocSearch--active .DocSearch-Container::after {
    backdrop-filter: blur(5px) opacity(1);
}

/**
 * Custom
 * -------------------------------------------------------------------------- */

.curtain {
    display: none !important;
}

.fill {
    background: transparent !important;
}

.content-body {
    background: var(--nav-c-bg) !important;
}

.content-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: saturate(180%) blur(5px);
    z-index: -1;
}

.external-link-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 1px;
}

.video {
    width: 100%;
}

.youtube {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.youtube iframe,
.youtube object,
.youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.config-table table {
    display: table;
    width: 100%;
}

.config-table th:nth-child(1),
.config-table td:nth-child(1) {
    width: 25%;
}

.config-table th:nth-child(2),
.config-table td:nth-child(2) {
    width: 25%;
}

.config-table th:nth-child(3),
.config-table td:nth-child(3) {
    width: 50%;
}

.command-param-nameless {
    text-decoration: line-through;
    border-bottom: 1px dotted #000;
    cursor: help;
}

.command-param-required {
    font-weight: 600;
    border-bottom: 1px dotted #000;
    cursor: help;
}
